<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="cacheExpirationTime" value="00:30:00"/>
    <add key="pathToFileWithNotWorkingDays" value="proizvcalendar.csv"/>
  </appSettings>
</configuration>